<div class="formPage">
	<h1>Comment For <%= @post.title %></h1>
	<div class="formContainer">
		<%= form_for @comment, url: { action: "create" } do |f| %>
			<div class="fieldContainer">
				<h2><%= f.label :content %></h2>
				<%= f.text_area :content, size: "30x10", class: "field"%>
			</div>
			<div class="submitContainer">
				<%= f.submit class: "submit" %>
			</div>
		<% end %>
	</div>
</div>
