<div class="userForm">
	<h1><%= @user.email %></h1>
	<h3>Member since: <%= @user.created_at.strftime("%b. %Y") %></h3>
	<div class="userInfo">


		<div class="userInfoBox">
			<img src="<%= @user.profile_picture_url %>"  >
			
			<div class="userPostInfo">
				<h2>Cities Written About:</h2>
				<% @cities_and_post_quantity.each do |pair| %>
					<h5><%= pair[:name] %>(x<%= pair[:post_num] %>)</h5>
				<% end %>

				<% if @user == current_user %>
					<button><%= link_to "Edit Profile", edit_user_registration_path %></button>
				<% end %>
			</div>
		</div>
		<% if @user == current_user %>
		<h1>PLANS</h1>
		<hr>
		<div class="scrollBox">
			<% @user.cities.uniq.each do |city| %>
				<% if @user.plan_items.any?{|item| item.post.city_id == city.id}%>
					<h2>Plan for <%= city.name %>:</h2>
					<ul>
						<% @user.plan_items.select{|item| item.post.city_id == city.id}.each do |item| %>
							<li><%= item.post.content %></li>
						<% end %>
					</ul>
				<% end %>
			<% end %>
		<% end %>
		</div>	
		
		<h1>POSTS</h1>
		<hr>
		<div class="scrollBox">
			<% @user.posts.each do |post| %>
				<div class="cityShowPost">
					<h2>Title: <%= post.title %></h2>
					<p><%= post.content %></p>
					<hr>
					<p>Posted in: <%= post.city.name.upcase %> on <%= post.created_at.strftime("%b. %Y") %> </p>
				</div>
			<% end %>
		</div>	

	</div>
</div>




