<div class="userForm">
	<% if @user.user_name.nil? %>
		<h1><%= @user.email %></h1>
	<% else %>
		<h1><%= @user.user_name %></h1>
	<% end %>
	<h3>Member since: <%= @user.created_at.strftime("%b. %Y") %></h3>
	<div class="userInfo">


		<div class="userInfoBox">
			<img class="user-show-image" src="<%= @user.profile_picture_url %>" >

			<div class="userPostInfo">
				<h2>Cities Written About:</h2>
				<% @cities_and_post_quantity.each do |pair| %>
					<h5><%= pair[:name] %>(x<%= pair[:post_num] %>)</h5>
				<% end %>

				<% if @user == current_user || current_user.is_admin? %>
					<button class="submit"><%= link_to "Edit Profile", edit_user_registration_path %></button>
				<% end %>
			</div>
		</div>
		<% if @user == current_user %>
			<h1>PLANS</h1>
			<hr>
			<div class="scrollBox">
				<% @cities.each do |city| %>
					<% if @user.plan_items.any?{|item| item.post.city_id == city.id}%>
						<h2>Plan for <%= city.name %>:</h2>
						<ul>
							<% @user.plan_items.select{|item| item.post.city_id == city.id}.each do |item| %>
								<li><%= item.post.content %></li>
							<% end %>
						</ul>
					<% end %>
				<% end %>
			</div>
		<% end %>

		<h1>POSTS</h1>
		<hr>
		<div class="scrollBox">
			<% @user.posts.each do |post| %>
				<div class="cityShowPost">
					<h2>Title: <%= post.title %></h2>
					<p><%= post.content %></p>
					<hr>
					<p>Posted in: <%= post.city.name.upcase %> on <%= post.created_at.strftime("%b. %Y") %> </p>
				</div>
			<% end %>
		</div>

	</div>
</div>




