<!-- General user info (public/private) -->
<!-- Public info -->
<div class="userForm">
	<% if @user.user_name.nil? %>
		<h1><%= @user.email %></h1>
	<% else %>
		<h1><%= @user.user_name %></h1>
	<% end %>
	<h3>Member since: <%= @user.created_at.strftime("%b. %Y") %></h3>
	<div class="userInfo">


		<div class="userInfoBox">
			<img class="user-show-image" src="<%= @user.profile_picture_url %>" >

			<div class="userPostInfo">
				<h2>Cities Written About:</h2>
				<% @cities_and_post_quantity.each do |pair| %>
					<h5><%= pair[:name] %>(x<%= pair[:post_num] %>)</h5>
				<% end %>

				<% if @user == current_user  %>
					<button class="submit"><%= link_to "Edit Profile", edit_user_registration_path %></button>
				<% end %>
				<% if current_user.is_admin? %>
					<button class="redirect"><%= link_to "Edit Permissions", user_edit_path(@user.id) %></button>
				<% end %>
			</div>
		</div>
<!-- Private info (user plans) -->
		<% if @user == current_user %>
			<h1>PLANS</h1>
			<hr>
			<br>
			<div class="scrollBox userPageScroller">
				<% @cities.each do |city| %>
					<% if @user.plan_items.any?{|item| item.post.city_id == city.id}%>
						<h2>Plan for <%= city.name %>:</h2>
						<% @user.plan_items.select{|item| item.post.city_id == city.id}.each do |item| %>
							<div class="cityShowPost">
								<div class="planItemsContainer">
									<h2><%= item.post.title %></h2>
									<p><%= item.post.content %></p>
									<%= form_for item, url: { controller: "plan_items", action: "update", id: item.id} do |i| %>
										<%= hidden_field_tag :id, item.id %>
										<%= i.label :done %>
										<%= i.check_box :done %>
										<%= i.submit class: "submit" %>
									<% end %>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
		<% end %>
<!-- Public (user posts) -->
		<h1>POSTS</h1>
		<hr>
		<br>
		<div class="scrollBox userPageScroller">
			<% @user.posts.each do |post| %>
				<div class="cityShowPost">
					<h2>Title: <%= post.title %></h2>
					<p><%= post.content %></p>
					<hr>
					<p>Posted in: <%= post.city.name.upcase %> on <%= post.created_at.strftime("%b. %Y") %> </p>
					<% if post.user == current_user %>
						<div class="edit-delete-section">
							<%= link_to 'Edit', edit_city_post_path(city_id: post.city.friendly_id, id: post.id), class: 'button edit-button' %>
							<%= form_for post, url: "/cities/#{post.city.friendly_id}/posts/#{post.id}", method: "DELETE" do |f| %>
							  <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete #{post.title}?"}, class: 'button delete-button' %>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>

	</div>
</div>




