<h1><%= @user.email %></h1>

<img src="<%= @user.profile_picture_url %>" alt="<%= @user.email %>'s Profile" class="profilePicture">

<h2>Cities Written About:</h2>
<% @cities_and_post_quantity.each do |pair| %>
	<h5><%= pair[:name] %>(x<%= pair[:post_num] %>)</h5>
<% end %>
<h2>Number of Comments Made: <%= @user.comments.length %></h2>

<% if @user == current_user %>
	<button><%= link_to "Edit Profile", edit_user_registration_path %></button>
<% end %>
