<div class="formPage">
  <h1>Edit Post</h1>
  <div class="formContainer">
    <h1><%= @post.title %></h1>
    <%= form_for @post, url: {action: "update"} do |f| %>
      <div class="fieldContainer">
        <h2><%= f.label :title %></h2>
        <%= f.text_field :title, class: "field" %>
      </div>

      <div class="fieldContainer">
        <h2><%= f.label :content %></h2>
        <%= f.text_area :content, size: "30x10",class: "field" %>
      </div>

      <div class="submitContainer">
        <%= f.submit class: "submit"%>
      </div>
    <% end %>
  </div>
</div>
