<div class="individual-post-show">

<h1><%= @post.title %></h1>

  <div class="post-info">
    <%= @post.content %>
  </div>

  <div class="edit-delete-section">
    <%= button_to 'Edit', edit_post_path(@post), class: 'button edit-button' %>
    <%= form_for @post, url: "/posts/#{@post.id}", method: "DELETE" do |f| %>
      <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete #{@post.title}?"}, class: 'button delete-button' %>
    <% end %>
  </div>
</div>
