<div class="individual-post-show">

<h1><%= @post.title %></h1>

  <div class="post-info">
    <%= @post.content %>
  </div>


  <div class="edit-delete-section">
    <%= button_to 'Edit', edit_city_post_path(city_id: @post.city.id, id: @post.id), class: 'button edit-button' %>
    <%= form_for @post, url: "/cities/#{@post.city.id}/posts/#{@post.id}", method: "DELETE" do |f| %>
      <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete #{@post.title}?"}, class: 'button delete-button' %>
    <% end %>
  </div>

</div>
