<h1><%= @post.title %></h1>

<%= @post.content %>

<div class="edit-delete-section">
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= form_for @post, url: "/posts/#{@post.id}", method: "DELETE" do |f| %>
    <%= f.submit "Delete", data: { confirm: 'Are you sure?'} %>
  <% end %>
</div>
