<div class="container cityShowPost" id="<%= post.id %>">
	<div class="cityShowPostTopRow">
		<h1><%= link_to post.title, city_post_path(city_id: @city.friendly_id, id: post.id) %></h1>
		<h3>On <%= post.plan_items.length %> Plans</h3>
	</div>
	<h6 class="commentsAndAddToPlan">
		<span><%= post.comments.length %> comments</span>
		<% if user_signed_in? %>
			<% if !current_user.plan_items.any? {|item| item.post_id == post.id} %>
				<span><%= link_to "Add To City Plan", plan_items_create_path(post_id: post.id, page: @posts.current_page, order: @order), method: "post" %></span>
			<% else %>
				<span><%= link_to "Remove From City Plan", plan_items_destroy_path(post_id: post.id, page: @posts.current_page, order: @order), method: "delete" %></span>
			<% end %>
		<% end %>
	</h6>
	<hr>
	<p><%= truncate(post.content, length:100) %>
	<% if post.content.length > 100 %>
		<strong><%= link_to 'Read more', city_post_path(city_id: @city.friendly_id, id: post.id) %></strong>
	<% end %>
	<h4>Created on <%= post.created_at.strftime("%B %d at %I:%M %p") %></h4>
	<h5>by <%= link_to "#{post.user.email}", user_show_path(post.user.id) %></h5>
	<h6>(<%= distance_of_time_in_words(Time.now, post.created_at)%> ago)</h6>
</div>
