<div class="jumbotron">
	<div class="container cityBanner cityShowImage" style="background-image: url('<%= @city.photo_url %>');">
		<h1 class="cityShowName"><%= @city.name %></h1>
	</div>
</div>

<div class="posts">
	<%= will_paginate @posts %>
	<% @posts.each do |post| %>

		<div class="container cityShowPost" id="<%= post.id %>">
			<h1><%= link_to post.title, city_post_path(city_id: @city.id, id: post.id) %></h1>
			<h6 class="commentsAndAddToPlan">
				<span><%= post.comments.length %> comments</span>
				<% if user_signed_in? %>
					<% if !current_user.plan_items.any? {|item| item.post_id == post.id} %>
						<span><%= link_to "Add To City Plan", plan_items_create_path(post.id), method: "post" %></span>
					<% else %>
						<span><%= link_to "Remove From City Plan", plan_items_destroy_path(post.id), method: "delete" %></span>
					<% end %>
				<% end %>
			</h6>
			<hr>
			<p><%= truncate(post.content, length:100) %>
			<% if post.content.length > 100 %>
				<strong><%= link_to 'Read more', city_post_path(city_id: @city.id, id: post.id) %></strong>
			<% end %>
			<h4>Created on <%= post.created_at.strftime("%d %b. %Y at %r %Z") %></h4>
			<h5>by <%= link_to "#{post.user.email}", user_show_path(post.user.id) %></h5>
			<h6>(<%= distance_of_time_in_words(Time.now, post.created_at)%> ago)</h6>
		</div>
		
	<% end %>

	<%= will_paginate @posts %>
</div>

