<div class="jumbotron">
	<div class="container cityBanner cityShowImage" style="background-image: url('<%= @city.photo_url %>');">
		<h1 class="cityShowName"><%= @city.name %></h1>
	</div>
</div>

<div class="posts">
	<% @post.each do |post| %>

		<div class="container cityShowPost">

			<h1><%= link_to post.title, city_post_path(city_id: @city.id, id: post.id) %></h1>

			<hr>
			<p><%= post.content %></p>
			<h4>Created on <%= post.created_at.strftime("%d %b. %Y %r %Z") %></h4>
		</div>

	<% end %>
</div>

