<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header" style="padding-bottom: 8px;">
      <a class="navbar-brand" href="/" >NoVi</a>
    </div>
    <% if @page == "city_show" %>
      <ul class="nav navbar-nav">
        <li><a href="#"><%= link_to "New Post", new_city_post_path(@city), style: "color: white;" %></a></li>
      </ul>
    <% end %>
    <% if @page == "new_post" || @page == "show_post" %>
      <ul>
        <li><a href="#"><%= link_to "Back", city_path(@city.id), style: "color: white"%></a></li>
      </ul>
    <% end %>
    <% if @page == "edit_post" %>
      <ul>
        <li><a href="#"><%= link_to "Back", city_post_path(id: @post.id, city_id: @post.city.id), style: "color: white"%></a></li>
      </ul>
    <% end %>
</nav>
    <%= yield %>
  </body>
</html>
