<!DOCTYPE html>
<html>
  <head>
    <title>Vagabond</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- Navbar with conditional items based on page state, authentication state, and authorization state -->
    <nav class="navbar navbar-default navbar-fixed-top">

      <div class="navbar-header" style="padding-bottom: 8px;">
        <a class="navbar-brand" href="/" >NoVī</a>
      </div>
<!-- Show profile link if user signed in and new city link if user is admin -->
      <% if user_signed_in? %>
        <div class="nav-items-container">
          <a href="#"><%= link_to "Profile", user_show_path(current_user.id), style: "color: white;" %></a>
          <% if current_user.is_admin? %>
            <a href="#"><%= link_to "New City", new_city_path, style: "color: white;" %></a>
          <% end %>
        </div>
      <% end %>
<!-- Shows signup/signin if user not signed in, shows logout if user is signed in -->
      <div class="nav-items-container">
        <% if !user_signed_in? %>
          <a href="#"><%= link_to "Sign In", new_user_session_path, style: "color: white;" %></a>
          <a href="#"><%= link_to "Sign Up", new_user_registration_path, style: "color: white;" %></a>
        <% end %>
        <% if user_signed_in? %>
          <a href="#"><%= link_to "Log Out", destroy_user_session_path, style: "color: white;", method: "delete" %></a>
        <% end %>
      </div>
<!-- Shows new post link if user on city show page -->
      <div class="nav-items-container">
        <% if @page == "city_show" %>
          <a href="#"><%= link_to "New Post", new_city_post_path(@city), style: "color: white;" %></a>
        <% end %>
      </div>
<!-- Shows back button if user not on home page -->
      <div class="nav-items-container">
        <% if @page != "city_index" %>
          <a href="#"><%= link_to "Back", :back, style: "color: white;" %></a>
        <% end %>
      </div>

    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
